{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Welcome, {{ user.first_name }} {{ user.last_name}} </h2>

{% if user.userprofile.role == 'Admin' %}
    {% comment %} <a href="{% url 'manage_users' %}" class="btn btn-danger">Manage Users</a>
    <a href="{% url 'manage_questions' %}" class="btn btn-primary">Manage Questions</a> {% endcomment %}
{% elif user.userprofile.role == 'Senior Manager' %}
    <hr>
    <h3>Your Department(s)</h3>
    <table>
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 70%;">
        </colgroup>
        <thead>
            <th>Department Name</th>
            <th>Teams</th>
        </thead>

        {% for department in departments %}
            <tr>
                <td>{{ department.name }}</td>
                <td>

                    {% for team in department.teams.all %}
                        {{ team.name }} (Leader: {{team.leader.first_name}} {{team.leader.last_name}}) <br/>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <div class="mb-3 text-end">
        <a href="{% url 'manage_departments' %}" class="btn btn-outline-dark">Manage Departments</a>
    </div>
    <br/><br/>



{% elif user.userprofile.role == 'Department Leader' %}
    <hr>
    <h3>Your Department(s)</h3>
    <table>
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 70%;">
        </colgroup>
        <thead>
            <th>Department Name</th>
            <th>Teams</th>
        </thead>

        {% for department in departments %}
            <tr>
                <td>{{ department.name }}</td>
                <td>

                    {% for team in department.teams.all %}
                        {{ team.name }} (Leader: {{team.leader.first_name}} {{team.leader.last_name}}) <br/>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <div class="mb-3 text-end">
        <a href="{% url 'manage_departments' %}" class="btn btn-outline-dark">Manage Departments</a>
    </div>
    <br/><br/>



    <hr>
    <h3>Your Teams</h3>
    <table>
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 70%;">
        </colgroup>
        <thead>
            <th>Team Name</th>
            <th>Engineers</th>
        </thead>

        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>
                    {% for engineer in team.engineers.all %}
                        {{ engineer.first_name }} {{ engineer.last_name }} (Username: {{ engineer.username }}) <br/>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <div class="mb-3 text-end"> 
        <a href="{% url 'manage_teams' %}" class="btn btn-outline-dark">Manage Teams</a>
    </div>
    <br/><br/>

{% elif user.userprofile.role == 'Team Leader' %}
    <hr>
    <h3>Your Teams</h3>
    <table>
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 70%;">
        </colgroup>
        <thead>
            <th>Team Name</th>
            <th>Engineers</th>
        </thead>

        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>
                    {% for engineer in team.engineers.all %}
                        {{ engineer.first_name }} {{ engineer.last_name }} (Username: {{ engineer.username }}) <br/>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <div class="mb-3 text-end">
        <a href="{% url 'manage_teams' %}" class="btn btn-outline-dark">Manage Teams</a>
    </div>
    <br/><br/>
    <hr>
    <h3 class="text-start">Your Current Sessions</h3>
    <table>
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 55%;">
            <col style="width: 15%;">
        </colgroup>        
        <thead>
            <th>Session Name</th>
            <th>Questions</th>
            <th></th>
        </thead>

        {% for session in sessions %}
            <tr>
                <td style="text-align: left;">
                    {{ session }}
                    <!-- <button class="btn btn-primary btn-sm" data-target="#collapseAnswer{{forloop.counter}}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseAnswer{{forloop.counter}}">
                        View answers
                    </button>
                    <div class="collapse" id="collapseAnswer{{ forloop.counter }}">
                        <div class="card card-body">
                            {% for answer in answers %}
                                {% if answer.session == session %}
                                    {{ answer.engineer.username }} - {{ answer.question.text }} - {{ answer.response }} <br/>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div> -->
                </td>
                <td style="text-align: left;">
                    <p class="text-small">
                    {% for question in session.questions.all %}
                        {{ question.text }} <br/>
                    {% endfor %}
                    </p>
                </td>
                <td style="text-align: end;">
                    {% comment %}<a href="{% url 'view_statistic' session.id %}" class="btn btn-primary btn-sm">View Statistics</a> {% endcomment %}
                    <a href="" class="btn btn-outline-success btn-sm">View Statistics</a>
                </td>
                <!-- <td>
                    {% for question in session.questions.all %}
                        {{ question.text }} <br/>
                    {% endfor %}
                </td> -->
            </tr>
        {% endfor %}

    </table>
    <br/>
    <div class="mb-3 text-end">
        <a href="{% url 'create_session' %}" class="btn btn-outline-dark">Create Session</a>
    </div>
    <br/><br/>


{% elif user.userprofile.role == 'Engineer' %}
    {% comment %} <a href="{% url 'answer_questions' %}" class="btn btn-success btn-sm">Answer Questions</a> {% endcomment %}
    
    
{% endif %}



{% endblock %}